__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
*.rknn
*.onnx
*.pt
*.pth
*.mp4
*.wav
*.m4a
*.mp3
*.jpg
*.jpeg
*.png
videos/
results/
image/
rknnModel/
whisper/model/
Bert-VITS2-RKNN2/bert/
Bert-VITS2-RKNN2/onnx/
Bert-VITS2-RKNN2/output.wav
